body{
background:black;
font-family:Arial;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero span{
color:orange;
}

.card{
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}